.container-form3 {
  margin: auto;
  padding: 5%;
  margin-top: 6%;
  width: 35%;
  height: 85%;
  background-color: white;
  border-radius: 13px;
  box-shadow:  0 14px 14px -8px $ColorFont3;
  .top-form3 {
    display: flex;
    flex-direction: row;
    margin-left:7%;
  }
  .img-flecha {
    width: 5%;
    margin: 20px;
  }
  .text-form3 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-left: -1%;
  }
  .form3 {
    display:flex;
    flex-direction: column;
    .form3-input {
      background-color: transparent;
      margin: 20px;
      display: flex;
      flex-direction: column;
      width: 90%;
      .label {
        padding: 0px;
        font-family: $Font2;
        font-size: 14px;
        color:#707b84;
      }
      .input {
        background-color: transparent;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        &:focus {
          outline: none;
        }  
      }
      ::placeholder {
        color: $ColorFont4;
        font-size: 16px;
      }
      .underline {
        background-color: $Accent;
        display: inline-block;
        height: 1.5px;
        left: 50px;
        margin-top: -6px;
        top: 185px;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        width: 100%;
      }
      .input:focus + .underline {
        transform: scale(1);
      }
      .undertext {
        margin-top: 3px;
        font-family: $Font2;
        font-size: 14px;
        color: #707b84;
      }
    }
    .privacy {
      display: flex;
      flex-direction: row;
      width: 100;
      .sub-privacy {
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        .link-privacy {
          font-family: $Font2;
          font-size: 13px;
          color: #707b84;
        }
        .link-blue {
          font-family: $Font2;
          font-size: 13px;
          text-decoration: underline;
          color: $LightButton;
        }
      }
    }
  }
  .button-form3 {
    width: 75%;
    height: 15%;
    padding: 15px;
    font-family: $Font1;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 12%;
    margin-left: 14%;
    cursor: pointer;
  }
  .continue {
    background: linear-gradient(to right, #20a5ef 15%, #0a8ed8 45%, #1285c5 100%);
    color: white;
    border: none;
    box-shadow:  6px, $DarkButton;
  }
  .error-message {
    color: red;
    font-size: 12;
    margin-bottom: 1em;
  }
}