.container-form1 {
  margin: auto;
  margin-top: 7.5%;
  width: 55%;
  height: 90%;
  background-color: white;
  border-radius: 13px;
  padding-left: 5%;
  padding-right: 4%;
  box-shadow: 0 14px 14px -8px $ColorFont3;

  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 5px;
    .sub-text-form {
      margin-top: 3%;
      margin-right: 8%;
      font-family: $Font2;
      font-size: 14px;
      width: 60%;
    }
    &-sub {
      display: flex;
      flex-direction: row;
      margin-left: -4%;
      .flecha {
        width: 30%;
        height: 10%;
        margin: 5px;
        .img-flecha1 {
          width: 13%;
          margin: 20px;
        }
      }
      .text-form {
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-left: -18%;
      }
    }
    @include media(mobile-only) {
      margin-top: 4%;
      margin-right: -6%;
    }
    .text-form {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      margin-left: -18%;
    }
  }
  .form1 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 0;
    width: 100%;
    height: 90%;
    background-color: white;
    font-family: $Font2;
    font-size: 14px;
    color: $ColorFont3;
    &-input {
      background-color: transparent;
      margin: 20px;
      display: flex;
      flex-direction: column;
      width: 90%;
      .label {
        padding: 0px;
        font-family: $Font2;
        font-size: 14px;
        color: #707b84;
      }
      .input {
        background-color: transparent;
        padding: 10px;
        border: none;
        border-bottom: 1px solid #ccc;
        font-size: 16px;
        &:focus {
          outline: none;
        }
      }
      ::placeholder {
        color: $ColorFont4;
        font-size: 16px;
      }
      .underline {
        background-color: $Accent;
        display: inline-block;
        height: 1.5px;
        left: 50px;
        margin-top: -6px;
        top: 185px;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        width: 100%;
      }
      .input:focus + .underline {
        transform: scale(1);
      }
      .phone {
        display: flex;
        flex-direction: row;
        position: relative;
        width: 100%;
        .flag .whatsapp {
          width: "22px";
          height: "21px";
          position: relative;
        }
      }
      @include media(mobile-only) {
        margin-top: -1%;
      }
    }
    @include media(mobile-only) {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .bottom-form {
    display: flex;
    justify-content: space-evenly;
    .button-form {
      width: 25%;
      padding: 10px;
      font-family: $Font1;
      font-size: 16px;
      border-radius: 20px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .continue {
      background: linear-gradient(
        to right,
        #20a5ef 15%,
        #0a8ed8 45%,
        #1285c5 100%
      );
      color: white;
      border: none;
      box-shadow: 6px, $DarkButton;
    }
    .cancel {
      border-color: $ColorFont2;
      background-color: white;
      color: $ColorFont2;
      cursor: pointer;
    }
    @include media(mobile-only) {
      flex-direction: column;
      width: 400%;
    }
  }
  @include media(mobile-only) {
    margin-top: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 84%;

    overflow-x: hidden;
  }
}
